body{
    justify-content: center;
}

.listConatainer{
    display: table-row;
}


.container{
    background-color: rgb(192, 204, 241);
    
}


.songlist{
    background-color: rgb(241, 217, 185);
    display : table-cell;
    padding: 1rem;
}
.customlist{
    background-color: rgb(185, 241, 234);
    display : table-cell;
    padding: 1rem;
}

.likedList{
    background-color: rgb(206, 111, 111);
    display : table-cell;
    padding: 1rem;
}

song-btns{
   text-align: center;
   justify-content: center;
}

button{
    height: 5em;
    width: 5em;
    justify-content: center;
}

.songname{
    font-size: 50px;
}

.playlist_control_btns{
    background-color: rgb(230, 150, 150);
    display : table-cell;
    padding: 1rem;

}

.playlist-btn{
    size: 20rem;
    background-color: cyan;
    border-radius: 1rem;
}